PORT=3000
NODE_ENV=development

# JWT Configuration
# generate JWT_SECRET by running on node:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
# Keep different secrets for development, staging, and production environments
# Regularly rotate the secret in production environments
JWT_SECRET=your_jwt_secret_here
# expiresIn: expressed in seconds or a string describing a time span vercel/ms.
# Eg: 60, "2 days", "10h", "7d". A numeric value is interpreted as a seconds count. If you use a string be sure you provide the time units (days, hours, etc), otherwise milliseconds unit is used by default ("120" is equal to "120ms").
JWT_EXP='1h' 

# PostgreSQL Configuration
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=auth_db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback


# Vite Configuration
VITE_PORT=5173
VITE_API_URL=http://localhost:3000/api

# Optional: Add any other environment-specific variables
# REDIS_URL=redis://localhost:6379
# AWS_ACCESS_KEY=your_aws_access_key_here
# AWS_SECRET_KEY=your_aws_secret_key_here

# Frontend URLs
VITE_APP_URL=http://localhost:5173
CORS_ORIGIN=http://localhost:5173